<div id="aboutPage">
<div  class="col-md-4 page-label" >
	<h1>A Little About Me</h1>
</div>
 <div class="col-md-8 page-content">
        <p>I'm Lisa Hobbs, currently a software developer at Denver Public Schools.  This job connects two of my passions: programming and education.  </p>

<p>I got into programming when I was a freshman in college.  Unsure of what I wanted to do with my life, I started with the idea of being an electrical and computer engineer.  After a semester of fumbling around with circuits, I decided to take the intro to programming class.  I instantly fell in love with coding and the limitless possibilities of what you can do.  I had always loved puzzles and now I had found a future in solving puzzles every day.  </p>

<p>While I was in college I found many opportunities to get into classrooms and work with students.  I helped in a preschool with mostly Spanish speaking students.  Through CU’s School of Education I learned how to put together lesson plans and taught 5th grade science classes with hands on activities.  I taught elementary schools classes, occasionally all in Spanish, about the brain with CU’s Neuroscience department.   As Director of Outreach for CU’s Society of Women Engineers I coordinated events doing fun, hands-on engineering activities, reaching over 700 students K-12.  I love that my current job encourages us to get into classrooms as part of our mission that “Every Student Succeeds”. </p>

<p>Growing up in the heart of the Rocky Mountains, learning to ski came soon after learning to walk.  I spent many nights in tents and many days in the woods or on the lake.  Although I’m learning to adjust to the big city life, the mountains will always feel like home.</p>

<p></p>

</div>
</div>
