<div id="aboutPage">
    <div class="section-header-2" >
        <h1>A Little About Me</h1>
    </div>
    <div class="page-content-mobile">
            <p>I'm Lisa Hobbs, currently a software developer at Denver Public Schools.  This job connects two of my passions: programming and education.  </p>
        <p>I got into programming when I was a freshman in college.  Unsure of what I wanted to do with my life, I started with the idea of being an electrical and computer engineer.  After a semester of fumbling around with circuits, I decided to take the intro to programming class.  I instantly fell in love with coding and the limitless possibilities of what you can do.  I had always loved puzzles and now I had found a future in solving puzzles every day.  </p>
    </div>
</div>
