<div id="education">
    <div  class="col-md-4 page-label" >
        <!-- <h1>University of Colorado</h1> -->
    </div>
    <div class="col-md-8 page-content">
        <div class="section-header-2">
            <h1>Education</h1>
        </div>
        <div class="col-sm-12">
            <h2>University of Colorado</h2>
            <h3>Bachelor of Science - Computer Science</h3>
                College of Engineering, University of Colorado Boulder
                May 2015
            <ul>
                <li>Outstanding Computer Science Graduate Award for Service</li>
                <li>Active Learning Award</li>
                <li>Engineering BOLD Center Scholarship recipient</li>
                <li>Dean’s List Spring 2012 and 2013</li>
                <li>Bronze Engineering Academic Award 2013</li>
                <li>CU SWE Outreach Chair 2013-2015</li>
                <li>CU WIC Secretary 2013-2014</li>
            </ul>
        </div>
    </div>
</div>
