<div class="container-fluid card">
<div class="card-brief">
  <div class="col-sm-6 card-body">
      <div class="row">
        <h5 class="text-center list-header">Skills</h5>
        <ul class="skills">
            <li *ngFor="let skill of job.skills">{{skill}}</li>
        </ul>
      </div>
      <div class="row" *ngIf="job.achievements">
        <h5 class="text-center list-header">Achievements</h5>
        <div *ngIf="job.achievements">
            <ul>
                <li *ngFor="let achievement of job.achievements">{{achievement}}</li>
            </ul>
        </div>
      </div>
  </div>
     <div class="col-sm-6 card-header">
    <h4 class="card-title">{{job.company}}</h4>
    <p>{{job.startDate}} - {{job.endDate}}</p>
    <!-- <p>{{job.location}}</p> -->
    <h5>{{job.position}}</h5>
     <button class="btn infoBtn" (click)="toggleExtra()">
         <span *ngIf="!showDescription">More</span>
         <span *ngIf="showDescription">Less</span>
          Info</button> 
  </div>
</div>
    <div *ngIf="showDescription" class="card-extra">
        <p *ngFor="let d of job.description">{{d}}</p>
    </div>
</div>
