<div id="community" class="row">
    <div class="section-header-2">
        <h1>Things I've Done</h1>
    </div>
    <div class="mobile-cards container-fluid">
        <div class="card" id="dpsCard">
            <div class="">
                <div class="card-header">Denver Public Schools</div>
                <div class="card-body">
                    <ul>
                        <li>Volunteered in 5th grade STEM class</li>
                        <li>Mentored high school sophomore about careers and education in STEM fields</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card" id="fccCard">
            <div class="card-header">Flatirons Community Church</div>
            <div class="card-body">
                <ul>
                    <li>Volunteer in birth-36 months room</li>
                    <li>Volunteered in preschool room</li>
                </ul>
            </div>
        </div>
        <div class="card" id="sweCard">
            <div class="card-header">Society of Women Engineers</div>
            <div class="card-body">
                <ul>
                    <li>Coordinated over 70 STEM events reaching over 1,000 K-12 students</li>
                    <li>Silly putty workshop at GESTEM 2017</li>
                    <li>Presented "Because Dreams Need Doing" at WE14</li>
                    <li>Presented "Excite. Inspire. Play." at iCon 16</li>
                </ul>
            </div>
        </div>
        <div class="card" id="cuCard">
            <div class="card-header">University of Colorado</div>
            <div class="card-body">
                <ul>
                    <li>Volunteered in bilingual preschool</li>
                    <li>Taught and developed 5th grade science lessons</li>
                    <li>Taught elementary neuroscience lessons</li>
                </ul>
            </div>
        </div>    
    </div>
</div>