<div id="chat-bot" class="col-sm-8 col-sm-offset-2">
    <div id="hello" class="chat-msg"></div>
    <div class="chat-input" *ngIf="showTextBox" >
        <input class="form-control" type="text" [(ngModel)]="name" />
        <a class="btn btn-dark-blue" (click)="btnSubmit()">Submit</a>
    </div>
    <div id="q1" class="chat-msg" *ngIf="showQ1"></div>
    <div class="" *ngIf="showQ1Buttons">
        <a href="#projects" class="btn btn-purple">Projects I've Worked On</a>
        <a href="#workExperience" class="btn btn-orange">Work Experience</a>
        <a href="#community" class="btn btn-red-orange">Community Outreach</a>
    </div>
</div>