<div id="contact" class="col-sm-12">
    <div class="section-header-2">
        <h1>Say Hello</h1>
    </div>
    <div class="page">
        <div class="col-sm-6 col-sm-offset-3 page-content">
            <div class="card container-fluid" id="contactCard">
                <div class="card-block">
                    <div class="col-sm-6 title">
                        <h3>Lisa Hobbs</h3>
                        <p>Software Developer</p>
                    </div>
                    <div class="col-sm-6 info">
                        <p><i class="glyphicon glyphicon-envelope"></i> <a mailto="lisa@lisa-hobbs.com">lisa@lisa-hobbs.com</a></p>
                        <p><span class="fa fa-github"></span> <a href="https://github.com/lhobbs" target="_blank">lhobbs</a></p>
                        <p><span class="fa fa-linkedin-square"></span> <a href="https://www.linkedin.com/in/lisa-hobbs-0a607250" target="_blank">Connect with me</a></p>
                        <p><i class="glyphicon glyphicon-download"></i> <a href="LisaResume.pdf" target="_blank">Resume</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        