<div>
    <div class="section-header-2">
        <h1>Say Hello</h1>
    </div>
    <div class="col-xs-12">
        <p><i class="glyphicon glyphicon-envelope"></i> <a mailto="lisa@lisa-hobbs.com">lisa@lisa-hobbs.com</a></p>
        <p><span class="fa fa-github"></span> <a href="https://github.com/lhobbs" target="_blank">lhobbs</a></p>
        <p><span class="fa fa-linkedin-square"></span> <a href="https://www.linkedin.com/in/lisa-hobbs-0a607250" target="_blank">Connect with me</a></p>
        <p><i class="glyphicon glyphicon-download"></i> <a href="LisaResume.pdf" target="_blank">Resume</a></p>
    </div>
</div>