<div id="contact">
    <div class="col-sm-8 page-content">
        <div class="col-sm-6 text-center">
            <img src="images/me.jpg" width="75%" class="pull-right"  />
        </div>
        <div class="col-sm-6 text-center">
            <h5><a href="mailto: lisa@lisa-hobbs.com">lisa@lisa-hobbs.com</a></h5>
            <h5>Connect with me on <a href="https://www.linkedin.com/in/lisa-hobbs-0a607250">LinkedIn</a></h5>
            <h5>Follow me on <a href="https://github.com/lhobbs">GitHub</a></h5>
            <a href="LisaResume.pdf" target="_blank">Download Resume</a>
        </div>
    </div>
    <div class="col-sm-4 page-label">
        <h1>Contact Me</h1>
    </div>
</div>

        