<div id="workExperience" class="col-sm-12">
    <div class="section-header-2">
        <h1>Places I've Worked</h1>
    </div>
    <div class="container-fluid cards">
        <div class="col-sm-6">
            <div *ngFor="let job of jobsCol1">
                <resume-card [job]="job"></resume-card>
            </div>
        </div>
        <div class="col-sm-6">
            <div *ngFor="let job of jobsCol2">
                <resume-card [job]="job"></resume-card>
            </div>
        </div>
    </div>
    <education></education>
    <community-outreach></community-outreach>
</div>     
        