<div id="workExperience">
    <div class="section-header-2">
        <h1>Places I've Worked</h1>
    </div>
    <div class="container-fluid cards">
        <div *ngFor="let job of jobs">
            <resume-card  class="col-sm-6" [job]="job"></resume-card>
        </div>
    </div>
    <!-- <div id="dps" class="row">
    <div class="page-content col-sm-8">
        
            
            <h4>Software Developer</h4>
            <ul>
                <li>Web applications using
                    <ul>
                        <li>ASP.NET MVC and Webforms</li>
                        <li>JavaScript, KnockOut, JQuery, Angular (1 & 2), React, NodeJS, Express</li>
                        <li>SQL</li>
                    </ul>
                </li>
                <li>Data
                    <ul>
                        <li>SSIS packages</li>
                        <li>SQL</li>
                        <li>NiFi</li>
                    </ul>
                </li>
            </ul>
    </div>
    <div class="page-label col-sm-4">
        <h1>Denver Public Schools</h1>
        <h5>June 2015 - Present</h5>
    </div>
    </div>
    <div id="clearlyEnergy" class="row">
    <div class="page-label col-sm-4">
        <h1>Clearly Energy</h1>
        <h5>April 2014 - August 2014</h5>
    </div>
    <div class="page-content col-sm-8">
            <h4>Software Developer</h4>
            <ul>
                <li>Wrote Bootstrap pages from designer mockups</li>
                <li>Refractor code for Ruby on Rails app</li>
                <li>Wrote JavaScript for effects on web pages</li>
                <li>Documented processes and standards</li>
                <li>Researched solutions to technical challenges</li>
            </ul>
    </div>
    </div>
    <div id="dla" class="row">
    <div class="page-content col-sm-8">
            <h4>Discovery Learning Apprentice for Smart Hospital Room project</h4>
            <ul>
                <li>Set up model hospital room with Android tablet to control TV, fan and lamp.</li>
                <li>Developed face detection application to use as mouse on Android tablet.</li>
                <li>Developed application to control lamp using Bluetooth power cord from Android tablet.</li>
                <li>Deployed prototype into Denver Health Hospital</li>
                <li>Presented poster presentation at University of Colorado and OurCS 2013</li>
                <li>Co-Author of “A Tablet Based Hands Free Interface in the Standard Hospital Room” and presented paper at International Conference for Engineering and Technology (ICET) 2013</li>
            </ul>
    </div>
    <div class="page-label col-sm-4">
        <h1>University of Colorado</h1>
        <h5>August 2012 - August 2013</h5>
    </div>
    </div>
    <div id="cdos" class="row">
    <div class="col-md-4 page-label">
            <h1>Colorado Department of State</h1>
            <h5>June 2012 - August 2012</h5>
    </div>
    <div class="col-md-8 page-content">
            <h4>IT Intern for Computer Security Department</h4>
            <ul>
                <li>Built a Python GUI on top of a SQL backend to track and perform automated research surrounding malicious IPs for the Secretary of State’s Information Security program. Program utilized nslookup to determine the source of different IP addresses. </li>
                <li>Configured network analysis equipment for the State of Colorado’s voter registration system. Wrote detailed Stand Operating Procedures to assist with future configuration and troubleshooting.</li>
                <li>Performed quarterly wireless audits to meet Payment Card Industry compliance.</li>
                <li>Tracked licensing for software and other Information systems purchases.</li>
                <li>Researched solutions to technical challenges</li>
            </ul>
    </div>
    </div>

</div>
 <div id="school" class="row">
    <div class="col-md-8 page-content">
        <h3>Bachelor of Science - Computer Science</h3>
            College of Engineering, University of Colorado Boulder
            May 2015
        <ul>
            <li>Outstanding Computer Science Graduate award for Service</li>
            <li>Engineering BOLD Center Scholarship recipient</li>
            <li>Dean’s List Spring 2012 and 2013</li>
            <li>Bronze Engineering Academic Award 2013</li>
        </ul>
    </div>
    <div class="col-md-4 page-label">
        <h1>Education</h1>
        <h2>University of Colorado</h2>
    </div>
 </div>
<div id="community" class="row">
    <div class="col-md-4 page-label">
        <h1>Leadership and Community Involvement</h1>
    </div>
    <div class="col-md-8 page-content">
        <h3>Denver Public Schools</h3>
            <ul>
                <li>Helped in 5th Grade STEM Class</li>
                <li>Mentored sophomore about careers and colleges for STEM fields</li>
            </ul>
        <h3>Society of Women Engineers</h3>
            <ul>
                <li>Presented "Excite. Inspire. Play." at iCon16 about K-12 STEM Outreach</li>
                <li>Outreach Chair for CU Boulder chapter of SWE  2013-2015</li>
                    <ul>
                        <li>Head of Outreach Committee</li>
                        <li>Coordinate K-12 outreach events including inspiring girls of all ages to pursue STEM fields through Cool Girls Arts and Science Club, local middle school and high school presentations and hands-on activities</li>
                        <li>During 2014-2015 academic year, coordinated over 30 events reaching over 700 children</li>
                        <li>Attended WE13 conference and presented "Because Dreams Need Doing"' about K-12 STEM Outreach</li>
                    </ul>
            </ul>
         <h3>Flatirons Community Church</h3>
            <ul>
                <li>Volunteered in preschool room</li>
                <li>Volunteer in nursery</li>
            </ul>
        <h3>University of Colorado</h3>
            <ul>
                <li>Volunteered at bilingual preschool with mostly Spanish speaking students</li>
                <li>Taught 5th grade science through hands on learning activities</li>
                <li>Taught elementary classes on neuroscience including classes in Spanish</li>
            </ul>
    </div> -->

</div>     
        